<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin/Home/Index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/Admin/Home/Index">
            <i class="fas fa-home"></i>
            <span>Trang Chủ</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Sach" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fab fa-windows"></i>
            <span>Sách</span>
        </a>
        <div id="Sach" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Admin/LoaiSach/Index">Loại Sách</a>
                <a class="collapse-item" href="/Admin/Sach/Index">Sách</a>
                <a class="collapse-item" href="/Admin/PhieuMuon/Index">Phiếu Mượn</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Admin/NhaXuatBan/Index">
            <i class="fas fa-user"></i>
            <span>Nhà Xuất Bản</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#NguoiDung" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fab fa-windows"></i>
            <span>Người Dùng</span>
        </a>
        <div id="NguoiDung" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Admin/NguoiDung/Index">Người Dùng</a>
                <a class="collapse-item" href="/Admin/NhanVien/Index">Nhân Viên</a>
                <a class="collapse-item" href="/Admin/SinhVien/Index">Sinh Viên</a>
            </div>
        </div>
    </li>
    
    
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
